<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032055071289-h6r6t39o4sp55n8i407hamnd6e234t1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032055071289-h6r6t39o4sp55n8i407hamnd6e234t1d</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ddYbrTUB6mofX0KRzWPZFwifAwYvuMs</string>
	<key>GCM_SENDER_ID</key>
	<string>1032055071289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.87kangsw.GitTime</string>
	<key>PROJECT_ID</key>
	<string>gittime-1efad</string>
	<key>STORAGE_BUCKET</key>
	<string>gittime-1efad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032055071289:ios:a917be48dcfaf988</string>
	<key>DATABASE_URL</key>
	<string>https://gittime-1efad.firebaseio.com</string>
</dict>
</plist>